.flex{
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}

.blue{
    color: blue;
}

.red{
    color: red;
}

.heading{
    margin-bottom: 50px;
}

.table-section{
    padding: 20px;
}

th, td{
    padding: 8px;
    text-align:center;
}